



*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}
:root {
  --bg-color: #1b3b6b;
  --second-bg-color: #2766d9;
  --text-color: #fff;
  --main-color: #10acea;
}
html {
  font-size: 62.5%;
  overflow: scroll;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* =======section======= */
section {
  min-height: auto;
  padding: 10rem 9% 2rem;
}
/*=======================Home css============================= */

.home {
  justify-content: center;
  display: flex;
  align-items: center;
  background: var(--second-bg-color);
}
.home-image img {
  width: 35vw;
  height: 65vh;
  border-radius: 50%;   
  object-fit: cover;    
  animation: floatImage 4s ease-in-out infinite;
}
/* animate the image */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-child(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}
.navbar a {
  font-size: 1.7rem;
  margin-left: 4rem;
  color: var(--text-color);
  transition: 3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home-content p {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.social-media {
  display: flex;
  justify-content: flex-start; 
  gap: 15px; 
  flex-wrap: wrap; 
  margin: 20px 0;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  
  height: 40px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-media a:hover {
  background: var(--main-color);
  box-shadow: 0 0 0.5rem var(--main-color);
}

.social-media img {
  width: 20px;  
  height: 20px;
  object-fit: contain;
  transition: transform 0.3s;
}

.social-media img:hover {
  transform: scale(1.2); 
}

 .btn-contact {
    background-color: #10acea;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s ease;
  }

  .btn-contact:hover {
    background-color: lightblue; 
    color: white;
  }
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--second-bg-colo r);
  font-weight: 600;
  transition: 5s ease;
}
.btn:hover {
  box-shadow: none;
}

/*=======================About css============================= */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #283856;
}
.about-image img {
  width: 35vw;          
  height: 35vw;         
  border-radius: 50%;   
  object-fit: cover;    
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-content h3 {
  font-size: 2.6em;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*=======================Service css============================= */

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-container .services-box {
  background: var(--second-bg-color);
  flex: 1 1 30rem;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--bg-color);
  transition: 0.5s ease;
}
.services-container .services-box:hover {
  border: var(--main-color);
  transform: scale(1.02);
}
.services-box i {
  color: var(--main-color);
  font-size: 7rem;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.services h2 {
  margin-bottom: 5rem;
}
.services-box h3 {
  font-size: 2.6em;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/*=======================portfolio css============================= */

.portfolio {
  background: var(--second-bg-color);
}
.portfolio h2 {
  margin-bottom: 4rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}

.portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* contact */
.contact h2 {
  margin-bottom: 3rem;
}
.contact form {
  width: auto;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: white;
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 1rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  width: none;
}
.contact form .btn {
  cursor: pointer;
  margin-top: 2rem;
}
/* Placeholder pour tous les inputs et textarea */
.contact input::placeholder,
.contact textarea::placeholder {
  color: #fff; 
  opacity: 0.5; 
}

/*=======================Footer Css============================= */
.footer {
  display: flex;
  flex-direction: column;
  background: #0f1115;
  color: #f1f1f1;
  font-family: 'Lato', sans-serif;
  padding: 50px 20px 20px 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 150px; 
  flex-wrap: nowrap; 
}

.footer-column {
  flex: 1;
  min-width: 200px; 
}

.footer-column h3 {
  color: #00c6ff;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-column p,
.footer-column li {
  font-size: 14px;
  margin: 5px 0;
  white-space: nowrap; 
}

.footer-column a {
  color: #f1f1f1;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #00c6ff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 8px 0;
  white-space: nowrap; 
}

/* Social Icons */
.footer-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #00c6ff; 
  border-radius: 50%;
  transition: transform 0.3s, filter 0.3s;
}

.footer-social a img {
  width: 20px;
  height: 20px;
}

.footer-social a:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
  background: #0096d6; 
}


/* Bottom */
.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 15px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
}

.footer-bottom p,
.footer-bottom a {
  white-space: nowrap; 
}

@media (max-width: 1024px) {
  .footer-wrapper {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}


.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/*=======================BREAKPOINT CSS============================= */

/* =============screen 1200 px====================== */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

/* =============screen 991 px====================== */
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  selection {
    padding: 10rem 3% 2rem;
  }
  /* services */
  .services {
    padding-bottom: 7rem;
  }

  /* portfolio */
  .portfolio {
    padding-bottom: 7rem;
  }
  /* contact*/
  .contact {
    min-height: auto;
  }
  /* footer */
  .footer {
    padding: 2rem 3%;
  }
}

/* =============screen 768 px====================== */
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-sizing: 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  /* home */
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-image img {
    width: 70vw;
    margin-top: 4rem;
  }

  /* about */
  .about {
    flex-direction: column-reverse;
  }

  .about-image img {
    width: 70vw;
    margin-top: 4rem;
  }

  /* service */
  .services h2 {
    margin-bottom: 3rem;
  }
  /* service */
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =============screen 617 px====================== */
@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

/* =============screen 450 px====================== */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

/* =============screen 365px====================== */
@media (max-width: 365px) {
  .home-image img {
    width: 90vw;
  }
  .about-image img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
